<h3>Detalles de la finca</h3>
<div>
  <div>
    <div>
      <label><b>ID : </b>{{ finca.id }}</label>
    </div>
    <div>
      <label><b>CLave : </b>{{ finca.clave }}</label>
    </div>
    <div>
      <label><b>Nombre : </b>{{ finca.nombre }}</label>
    </div>
    <div>
      <label><b>Numero hectarea : </b>{{ finca.numHectareas }}</label>
    </div>
    <div>
      <label><b>Metros cuadrados : </b>{{ finca.metrosCuadrados }}</label>
    </div>
    <div>
      <label><b>Propietario : </b>{{ finca.propietario }}</label>
    </div>
    <div>
      <label><b>Capataz : </b>{{ finca.capataz }}</label>
    </div>
    <div>
      <label><b>País : </b>{{ finca.pais }}</label>
    </div>
    <div>
      <label><b>Departamento : </b>{{ finca.departamento }}</label>
    </div>
    <div>
      <label><b>Ciudad : </b>{{ finca.ciudad }}</label>
    </div>
    <div>
      <label><b>Produce leche : </b>{{ finca.siProduceLeche }}</label>
    </div>
    <div>
      <label><b>Produce cereal : </b>{{ finca.siProduceCereales }}</label>
    </div>
    <div>
      <label><b>Produce frutas : </b>{{ finca.siProduceFrutas }}</label>
    </div>
    <div>
      <label><b>Produce verduras : </b>{{ finca.siProduceVerduras }}</label>
    </div>
  </div>
</div>
